:root {
  --white: #ddd9c9;
  --white-trans: #ddd9c9dd;
  --light-white: #cfc4c0;
  --light-white-trans: #cfc4c0aa;
  --light-white-2: #ddd9c999;
  --brown: #805126;
  --gold: #906c4a;
  --gold-trans: #906c4aaa;
  --black: #040000;
  --black-trans: #04000099;
  --black-thick-trans: #040000ee;
  --black-med-trans: #040000dd;
}

html, body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: Oswald;
  letter-spacing: 1px;
}
body {
  overflow-x: hidden;
}
.index-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  color: var(--white);
}
#hero-image {
  transition: .05s all linear;
}
#logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--black);
  margin:60px;
  left: 0%;
  padding: 25px;
  box-shadow: 0 0 3px rgba(255, 255, 255, .2);
  z-index: 15;
}
#logo img {
  height:350px;
  width: auto;
}
#navmenu {
  color: var(--white);
  width: auto;
  z-index: 20;
  position: absolute;
  right: 0%;
}
#logo a {
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--white);
  margin-top: 28px;
  border-radius: 5px;
  padding: 4px;
  transition: .4s all linear;
  box-shadow: 0 0 1px rgba(255, 255, 255, .2);
}
#logo a:last-child {
  margin-bottom: 7px;
}
#logo a:hover {
  background-color: var(--brown);
}
.nav-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  visibility: visible;
}
.nav-item {
  background: var(--black);
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 3px rgba(255, 255, 255, .2);
}
.nav-item:hover {
  cursor: pointer;
}
.nav-social:hover {
  cursor: default;
}
.nav-social i:hover {
  cursor: pointer;
}
.nav-item i {
  font-size: 40px;
  padding: 5px;
}
.nav-item .pop-out {
  z-index: -5;
  background: var(--black);
  position: absolute;
  top: 0;
  right: 81px;
  display: flex;
  flex-direction: row;
  transform: translate(100%, 0);
  transition: .4s all ease-out;
  visibility: visible;
  box-shadow: 0 0 3px rgba(255, 255, 255, .2);
}
.nav-item:hover .pop-out {
  transform: translate(-3px, 0);
}
.location-hours {
  padding: 20px;
  border-left: 1px solid var(--light-white);
  z-index: 0;
  overflow-x: hidden;
}
.location-hours:last-child {
  border-right: 1px solid var(--light-white);
}
.location-hours h4 {
  text-align: center;
  margin: 5px;
  padding: 0;
}
.location-hours h6 {
  margin: 9px 0 7px 0;
  padding: 0;
}
.location-hours table {
  padding: 0;
}
.location-hours td {
  text-align: left;
  padding: 3px;
}
.address {
  border-left: 1px solid var(--light-white);
}
.address:last-child {
  border-right: 1px solid var(--light-white);
}
.address ul {
  margin: 0;
  padding: 0;
}
.address ul li {
  width: 240px;
  padding: 0 5px;
  white-space: nowrap;
  margin: 0;
}
.address ul li:last-child {
  margin-bottom: 25px;
}
.phone-number {
  border-left: 1px solid var(--light-white);
}
.phone-number:last-child {
  border-right: 1px solid var(--light-white);
}
.phone-number ul {
  padding: 0;
}
.phone-number ul li {
  width: 150px;
  padding: 0;
  margin: 0;
}
.phone-number h4 {
  padding: 0;
  margin: 0;
}
#landing-page {
  position: absolute;
}
#landing-page img {
  position: absolute;
  height: 1215px;
  width: 1935px;
  left: -15px;
  top: -15px;
  z-index: -10;
}
/*********************menu*************************/
header {
  background: url('../img/opaque2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.menu {
  width: 70%;
  margin: auto;
}
#menu-logo {
  margin-top: 20px;
}
#menu-logo a img {
  height: 360px;
  width: auto;
  z-index: 20;
}
#menu-cta {
  position: absolute;
  right: 15%;
  top: 160px;
  padding-top: 10px;
}
#menu-page-nav ul, #menu-page-nav li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
#menu-page-nav li {
  margin-right: 20px;
}
#menu-cta a {
  color: var(--white);
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--white);
  margin-top: 28px;
  border-radius: 5px;
  padding: 10px 30px;
  transition: .4s all linear;
  letter-spacing: 2px;
  box-shadow: 0 0 1px rgba(255, 255, 255, .2);
}
#menu-cta a:hover {
  background-color: var(--brown);
}
#menu-page-nav {
  position: absolute;
  top: 160px;
  left: 15%;
}
#menu-page-nav a i {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  padding: 0;
}
.menu-page nav {
  z-index: 10;
}
#food-nav {
  margin: auto;
  display: flex;
  justify-content: center;
}
#food-nav ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
#food-nav li {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style-image: url('../img/wheel.png');
  list-style: url('../img/wheel.png');
}
#food-nav a {
  background-color: var(--light-white);
  border-radius: 12px;
  padding: 1px 8px;
  box-sizing: content-box;
  color: var(--black);
  font-size: 16px;
  font-family: Oswald;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: -1px;
}
#food-nav a::before {
  content: "#";
}
.menu-page {
  background-color: var(--black);
  font-family: Oswald;
  color: var(--white);
}
.menu {
  margin-top: 15px;
}
.menu-page h2 {
  color: var(--white);
  font-size: 2.7em;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 12px;
  border-bottom: 1px solid var(--brown);
}
.menu-category {
  position: relative;
}
.menu-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -40;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
}
.black-opaque {
  background-color: var(--black-thick-trans);
  z-index: -35;
  height: 100%;
  width: 100%;
}
.menu-category li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-category img {
  height: 90px;
  width: auto;
  box-shadow: 0 0 2px rgba(255, 255, 255, .2);
}
.menu-category td {
  font-size: 1.4em;
}
.menu-category td {
  padding: 12px;
}
.menu-title {
  width: 180px;
}
.menu-title a {
  text-decoration: none;
}
.menu-price {
  color: var(--gold);
  width: 80px;
}
.menu-category .menu-text {
  font-size: 1.05em;
}
.menu-category table {
  border-bottom: 0px solid var(--brown);
  padding-bottom: 8px;
}
.hidden {
  visibility: hidden;
}
.back-to-top {
  margin-top: 35px;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.back-to-top a {
  text-transform: uppercase;
  text-decoration: none;
  animation-name: arrowbounce;
  animation-duration: 1s;
}
.arrow-l, .arrow-r {
  font-size: 20px;
  transition: 1s all linear;
}
.arrow-l {
  margin-right: 8px;
  animation-name: arrowbounce;
  animation-duration: 1s;
}
.arrow-r {
  margin-left: 8px;
}
.back-to-top:hover .arrow-l,
.back-to-top:hover .arrow-r {
  animation-name: arrowbounce;
  animation-duration: 1s;
}
/********************modal************************/
#menu-single-item {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
  height: 100vh;
  width: 100%;
  display: none;
}
.modal-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: var(--white);
  color: var(--black);
  width: 800px;
  position: relative;
  box-shadow: 0 0 15px var(--gold-trans);
}
#close-btn {
  background: var(--black);
  position: absolute;
  font-size: 100px;
  color: var(--white-trans);
  line-height: 0px;
  margin: 30px 10px;
  padding: 0;
  top: 0;
  right: 0;
}
#close-btn:hover {
  cursor: pointer;
}
.modal-content img {
  max-width: 800px;
  padding: 0;
  margin: 0;
}
.modal-text h1, .modal-text h3, .modal-text p {
  margin: 20px;
}
.price {
  font-size: .6em;
  margin-left: 10px;
  color: var(--gold);
}
/****************footer*******************/
footer {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  position: relative;
  border-top: 1px solid var(--white);
  margin-top: 40px;
  padding-bottom: 20px;
}
footer h5 {
  position: absolute;
  left: 150px;
}
footer ul {
  position: absolute;
  right: 150px;
  padding-bottom: 30px;
}
footer li {
  display: inline-block;
  margin-left: 15px;
}
footer a {
  font-size: 40px;
}


/********************media************************/
@media(max-width: 1200px) {
  .menu {
    width: 90%;
    margin: auto;
  }
}
@media(max-width: 900px) {
  .address ul li {
    width: 200px;
    font-size: .85em;
  }
  .phone-number ul li {
    font-size: .85em;
  }
  .location-hours {
    font-size: .85em;
  }
  .menu {
    width: 90%;
    margin: auto;
  }
  .hidden {
    visibility: visible;
  }
  .shown {
    visibility: hidden;
  }
}
@media(max-width: 600px) {
  .menu {
    width: 100%;
  }
  td .menu-text::before {
    content: "</tr><tr>"
  }
  td .menu-text::after {
    content: "</tr>"
  }
  .address ul li {
    width: 160px;
    font-size: .6em;
    padding: 0;
  }
  .phone-number ul li {
    font-size: .6em;
  }
  .location-hours {
    font-size: .6em;
  }
  #pop-out-address, #pop-out-phone-number {
    flex-direction: column;
  }
  .menu {
    width: 100%;
    margin: auto;
  }
}
@keyframes arrowbounce {
  0% {transform: translateY(0);}
  30% {transform: translateY(10px);}
  100% {transform: translateY(0);}
}
